/dist1
/cypress
/node_modules
/coverage
/out
/src
/.idea
/public
/scripts
/test
.editorconfig
.gitignore
babel.config.js
cypress.config.js
debug.json
forge.config.js
jsconfig.json
LICENSE
main.js
package-lock.json
package.json
README.md
vue.config.js
yarn.lock